body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
  }

  .montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  header {
    background-color: #6474FF;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
  }
  nav {
    display: flex;
    gap: 20px;
  }
  nav a {
    color: #fff;
    text-decoration: none;
  }
  button {
    padding: 10px 20px;
    background-color: #160747;
    color: #FFF;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
  }

  button.rounded-button {
    border-radius: 100px;
}
  button:hover {
    background-color: #ccc;
  }
  .section {
    padding: 50px 0;
    text-align: center;
  }
  #inicio {
    background-color: #FFEDFF;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .text {
    max-width: 45%;
  }
  .text h2 {
    margin-bottom: 20px;
  }
.image {
    max-width: 45%;
  }
  img {
    max-width: 100%;
    border-radius: 50%;
  }
  .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .testimonial {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .testimonial img {
    max-width: 100px;
    display: block;
    margin: 0 auto 10px;
  }
  .testimonial h3 {
    margin-bottom: 10px;
  }

  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .form-fields {
    width: 45%;
    padding-right: 20px;
  }
  .form-image {
    width: 45%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input, button {
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .logo {
    max-width: 100px;
  }
  .copyright {
    margin-right: auto;
  }
  .owner-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .owner-info p {
    margin: 0;
  }
  .social-icons {
    display: flex;
    gap: 10px;
  }
  .social-icons a {
    color: #fff;
    text-decoration: none;
  }

